{% extends '.layout.njk' %}

{% block content %}
  <div class="govuk-body">
    <form method="POST" action="/claim/property-type">
      {{ govukRadios(model) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
{% endblock %}
