{% extends "govuk/template.njk" %} {% block head %}<link href="/static/css/application.805eea6fffb5acc1a8d3.css" rel="stylesheet">{% endblock %} {% block bodyEnd %}<script src="/static/js/bundle.805eea6fffb5acc1a8d3.js"></script>{% endblock %}