{% extends '.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a large grant",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/country"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You cannot apply for a large grant</h1>
    <p class="govuk-body">This is only for projects in England.</p>
    <p class="govuk-body">Scotland, Wales and Northern Ireland have similar grants available.</p>
  </div>
</div>
{% endblock %}
